<launch>
  <node name="person_tracker" pkg="person_tracking" type="person_tracker.py" args="--img_topic /camera/image_raw/compressed" /> 

  <param name="YOLOV3/CFG" type="string" value="$(find person_tracking)/src/detector/YOLOv3/cfg/yolo_v3.cfg"/>
  <param name="YOLOV3/WEIGHT" type="string" value="$(find person_tracking)/src/detector/YOLOv3/weight/yolov3.weights"/>
  <param name="YOLOV3/CLASS_NAMES" type="string" value="$(find person_tracking)/src/detector/YOLOv3/cfg/coco.names"/>

  <param name="DEEPSORT/REID_CKPT" type="string" value="$(find person_tracking)/src/deep_sort/deep/checkpoint/osnet_og.pth" />

  <param name="person_tracker/camera_fov" type="int" value="60" />

  <rosparam file="$(find person_tracking)/configs/deep_sort.yaml" />
  <rosparam file="$(find person_tracking)/configs/yolov3.yaml" />

</launch>